body { 
    margin: 0;
    padding: 0;
    background: linear-gradient(315deg,
    orange,
    rgb(250, 34, 34),
    orange);
}
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

/* navigation bar */
#navbar {
    width: 100%;
    height: 45px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 1px 1px 2px rgb(36, 35, 35);
    background-color: rgb(255, 255, 255);
}
.nav-img {
    width: 80px;
    height: 40px;
}

.nav-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#navbar ul li a {
    padding: 6px 22px;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 15px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbar ul li a:hover {
    background-color: rgb(240, 129, 64);
    box-shadow: 2px 2px 6px rgb(231, 148, 100);
    color: white;
}
/* main */
main{
    margin-top:130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
select{
    border-radius: 4px;
}
.box-container{
    width: 700px;
    height: 860px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.registration{
    font-size: 36px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: Helvetica, sans-serif;
}
.first-name{
    width: 260px;
    height: 60px;
    margin: 20px 10px 20px 20px;
    border-radius: 5px;
    border:1px solid orangered;
    padding-left: 20px;
    font-size: 16px;
    background: transparent;
}
.last-name{
    width: 260px;
    height: 60px;
    margin: 20px 20px 20px 2px;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 16px;
    background: transparent;
    border: 1px solid orangered;
}
.phone{
    display: block;
    padding-left: 20px;
    margin: 20px 20px 35px 20px;
    width: 540px;
    height: 60px;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    background: transparent;
    border: 1px solid orangered;
}
#gender{
    display: block;
    padding-left: 20px;
    margin: 20px;
    width: 540px;
    height: 60px;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    background: transparent;
    border: 1px solid orangered;
}
#country{
    width: 260px;
    height: 60px;
    margin: 20px 10px 20px 20px;
    border-radius: 5px;
    border: 1px solid orangered;
    padding-left: 20px;
    font-size: 16px;
    background: transparent;
}
#state{
    width: 260px;
    height: 60px;
    margin: 20px 20px 20px 2px;    
    border-radius: 5px;
    padding-left: 20px;
    font-size: 16px;
    background: transparent;
    border: 1px solid orangered;
}
.email{
    width: 540px;
    height: 60px;
    margin: 20px;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 16px;
    background: transparent;
    border: 1px solid orangered;
}
.password{
    width: 260px;
    height: 60px;
    margin: 20px 10px 20px 20px;
    border-radius: 5px;
    border: 1px solid orangered;
    padding-left: 20px;
    font-size: 16px;
    background: transparent;
}

.confirm-password{
    width: 260px;
    height: 60px;
    margin: 20px 20px 20px 2px;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 16px;
    background: transparent;
    border: 1px solid orangered;
}
.submit {
    width: 220px;
    height: 60px;
    margin: 30px 30px 10px 30px;
    color: white;
    font-family: Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
    background-color: orangered;
    border: 0;
    border-radius: 5px;
}
.account{
    display: inline;
    margin-bottom: 20px;
}
.account p{
    display: inline;
    padding-right: 10px;
}
.account a{
    color: orangered;
    text-decoration:darkorange;
}
/* footer */
footer {
    color: rgb(255, 255, 255);
    border-top: 1px solid lightgrey;
    margin-top: 190px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}